<div class="services" style="padding:0px!important;">
    <div class="container text-center">
      <div class="row" style="margin-left: 35%;">
		<div class="col-lg-5 col-sm-5">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <%= gravatar_for @user %>
                </div>
                <div class="info">
                    <div class="title">
                         <%= @user.nom %> <%= @user.prenom %>
                    </div>
                    <% if @user.user_type == "E"%>
                        <div class="desc">Etudiant</div>
                    <% else %>
                        <div class="desc">Professeur</div>
                    <% end %>
                    <div class="desc"><%= @user.etablissement %></div>
                    <div class="desc"><%= @user.email %></div>
                    <div class="desc"><%= @user.date %></div>
                </div>

                <div class="bottom">
                    <%= link_to "Modifier le profil", edit_user_path(current_user) , :class => "btn btn-primary btn-lg"%>
                </div>
            </div>
        </div>
    </div>
</div>
